
@{
    var veiculo = ViewBag.veiculo;
}

<h3 class="badge bg-primary">@ViewBag.Message</h3>

<form action="/veiculos/excluir" method="post">

    <div class="row col-md-offset-3">
        <input type="hidden" id="id" name="id" value="@veiculo.Id" />
        <label for="nome" class="col-sm-2 col-form-label text-left">Marca:</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" id="nome" name="nome" readonly value="@veiculo.Nome" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="modelo" class="col-sm-2 col-form-label text-left">Modelo:</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" id="modelo" name="modelo" readonly value="@veiculo.Modelo" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="fabricacao" class="col-sm-2 col-form-label text-left">Ano:</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" id="fabricacao" name="fabricacao" readonly value="@veiculo.Fabricacao" />

        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="Cor" class="col-sm-2 col-form-label text-left">Cor:</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" id="cor" name="cor" readonly value="@veiculo.Cor" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="combustivel" class="col-sm-2 col-form-label text-left">Combustível:</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" id="combustivel" name="combustivel" readonly value="@veiculo.Combustivel" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="automatico" class="col-sm-2 col-form-label text-left">Automático:</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" id="automatico" name="automatico" readonly value="@veiculo.Automatico" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="valor" class="col-sm-2 col-form-label text-left">Valor:</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" id="valor" name="valor" readonly value="@veiculo.Valor" />
        </div>
    </div>

    <br />
    <div class="button">
        <button class ="btn btn-primary" onclick="Excluir()" type="submit">Excluir</button>
    </div>


</form>